            <h3>Associated tools</h3>
            <ul>
              <li><a href="http://obswww.unige.ch/~revaz/glups//">glups</a></li>
              <li><a href="http://obswww.unige.ch/~revaz/PyGear//">PyGear</a></li>
              <li><a href="http://obswww.unige.ch/~revaz/PyChem//">PyChem</a></li>
              <li>&nbsp;</li>
            </ul>

